Django>=5.1.7
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.3.1
django-storages>=1.14.2
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.9  # PostgreSQL support
requests>=2.31.0  # API calls (used for Gemini API)
python-dotenv>=1.0.1  # Environment variable management
google.generativeai